.filterSearch {
    text-align: right;
    justify-content: right;
    height: 50px;
}

.form-select {
background-color: fuchsia;
font-style: "Segoe UI";
height: 50px;
width: 200px;
border-radius: 20px;
padding: 3px 10px;
border: 1px fuchsia solid;
justify-content: center;
color: white;
}

.aria-label{
    color: white;
}
