input {
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px fuchsia solid;
    justify-content: center;    
    width: 200px;
    margin-right: 10px;
    font-style: "Segoe UI";
    height: 50px;
}

button {
    border-radius: 20px;
    padding: 3px 10px;
    border: 1px fuchsia solid;
    justify-content: center;
    color: white;
    height: 50px;
    background-color:  fuchsia;
}
